doctype html
html.album-page
	head
		include _head
		link(rel="stylesheet", href="/css/album-page.css")
	body
		include _header

		.media
			.hero()
				img.main(src=images[0])
				
				.meta
					.title #{title}
						span.date #{date}
						a(href="https://patrickgunderson.com/" + section + "/" + slug).permanent-link
							.fa.fa-bookmark
						
						a(href=external_url).external-link
							.fa.fa-external-link
				.medium #{medium}
				.description #{description}
				.awards
		
			.tracks
				each file, name in tracks
					h4 #{name}
					audio(src=file, controls=true) 
			
		
		include _footer
	script
		include ../js/album-page.js