doctype html
html.album-page(lang="en")
	head
		include _head
		link(rel="stylesheet", href="/css/album-page.css")
	body
		include _header

		.media
			.hero
				img.main(src=images[0])
				
				.meta
					.title #{title}
						span.date #{date}
						a(href="https://patrickgunderson.com/" + section + "/" + slug).permanent-link
							.fa.fa-bookmark
						
						//- a(href=external_url).external-link
						//- 	.fa.fa-external-link
				.medium #{medium}
				audio.player(controls=true)
				.description #{description}
				.awards
			.tracks
				h4 Tracks
				ol(type=1)
					each file, name in tracks
						li(data-src=file) #{name}
						//audio(src=file, controls=true) 
			
		
		include _footer
	script
		include ../js/album-page.js
	script 
		include ../js/kbux.js