doctype html
html
    head
        include _head
    body.gallery-page
        include _header

        .media
            .hero(style="background-color:" + background_color)
                .image-holder.main()
                .image-holder.transition(style="background-image:url('"+images[0]+"')")

                .gallery
                    if thumbnails.length > 1
                        each imageurl, index in thumbnails
                            img.thumbnail(src=imageurl data-full=images[index])
                a.next(href="/" + adjacent.next.section + "/" + adjacent.next.slug)
                    .fa.fa-chevron-right
                a.prev(href="/" + adjacent.prev.section + "/" + adjacent.prev.slug)
                    .fa.fa-chevron-left

            .meta
                .title #{title}
                    span.date #{date}
                    a(href="https://patrickgunderson.com/" + section + "/" + slug).permanent-link
                        .fa.fa-bookmark
                    
                    a(href="https://codepen.io").external-link
                        .fa.fa-external-link
                .medium #{medium} 
                    each role in roles
                        span - #{role} 
                .description !{description}
                .awards
        
        
        include _footer
    script
        include ../js/gallery.js