doctype html
html(lang="en")
	head
		include _head
	body.gallery-page
		include _header

		.media
			.hero(style="background-color:" + background_color)
				.image-holder.main()
				.image-holder.transition(style="background-image:url('"+images[0]+"')")

				.gallery
					if thumbnails.length > 1
						each imageurl, index in thumbnails
							img.thumbnail(src=imageurl data-full=images[index])
				include _prev-next
				
			.meta
				.title #{title}
					span.date #{date}
					a(href="https://patrickgunderson.com/" + section + "/" + slug).permanent-link
						.fa.fa-bookmark
					
					a(href="https://codepen.io").external-link
						.fa.fa-external-link
				.medium #{medium} 
					each role in roles
						span - #{role} 
				.description !{description}
				.awards
		
		
		include _footer
	script
		include ../js/gallery.js
	script 
		include ../js/kbux.js