doctype html
html
  head
    include _head
  body.home-page
    .hero
      .bg
        .images
          each project in hero
            img(src=project.cover_image)
      .bg-transition
      
      include _header
      .section-nav
        a(href="#art") Art
        a(href="#music") Music
        a(href="#client-work") Client Work
        a(href="#about") About
      
      .shadow
    //- .pull-quote "The origin" is an arbitrary, dimensionless point in space with no width, length, or height, from which we can reference all other points.
    section.art.work
      a#art(name="art")
        h2 Art
      h4 Loops
      ul
        each project in loops
          li 
            a.fill(href="/art/"+project.slug, style='background-color:'+project.background_color+';background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
      a(href="/scroll/loop") More Loops

      h4 Generators
      ul
        each project in generator
          li 
            a.fill(href="/art/"+project.slug, style='background-color:'+project.background_color+';background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
      a(href="/scroll/generator") More Generators
      h4 Physical 
      ul
        each project in physical
          li 
            a.fill(href="/art/"+project.slug, style='background-color:'+project.background_color+';background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
              
      a(href="/scroll/physical") More Physical
      h4 Prints
      ul
        each project in prints
          li 
            a.fill(href="/art/"+project.slug, style='background-color:#111;background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
      a(href="/scroll/print") More Prints
      h4 VR 
      ul
        each project in vr
          li 
            a.fill(href="/art/"+project.slug, style='background-color:'+project.background_color+';background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
      .pull-quote Oscillation is the key to the universe. 
    section.music.work
      a#music(name="music")
        h2 Music
      ul 
        each project in music
          li 
            a.fill(href="/art/"+project.slug, style='background-color:#111;background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
    section.commercial.work
      a#commercial(name="client-work")
        h2 Client Work
      h4 Projects
      ul
        each project in locals["client-work"]
          li 
            a.fill(href="/art/"+project.slug, style='background-color:#111;background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
      
      a(href="/list/client-work") More Client Work
      //- ul 
      //-   li Google AR I/O
      //-   li Google AR UX
      //-   li US Open Sessions
      //-   li Sense8 Brainwave Symphony
      //-   li Project Hardin
      //-   li Land Rover Stories
      //-   li 30 Years of Mac
      //-   li JFK
      //-   li Gensler
      //-   li Passion Genome
      //-   li The Beauty Inside
      //-   li Infiniti Dream Road
      //-   li SuperBowl.com
    section.about.work
      a#about(name="about")
        h2 About
      p In the seedy underbelly of Las Vegas, amidst the blinding neon lights and the cacophony of slot machines, resides a man like no other. Patrick Gunderson, a true renegade of the artistic realm, defies categorization as a mere artist, designer, programmer, or director. No, my friend, Gunderson is a wild, untamed force that defies the constraints of conventional labels.

      p With a career spanning a quarter of a century, Gunderson's artistic escapades have rattled the very foundations of creative expression. His rebellious spirit, fueled by an insatiable hunger for pushing boundaries, has earned him a fearsome reputation and a cabinet overflowing with prestigious awards. Fortune 500 companies tremble at the mere mention of his name, eagerly seeking his radical touch to infuse their brands with a touch of genius.

      p In the swirling vortex of Gunderson's mind, art and technology merge in a psychedelic dance. His generative masterpieces, birthed from the depths of oscillation, twist and morph into mesmerizing prints, videos, and interactive tools. He paints with code, crafting digital symphonies that intoxicate the senses and leave audiences spellbound.

      p But Gunderson's art is no mere commodity to be bought and sold. It is a visceral experience that plunges you into the depths of his unfiltered consciousness. He challenges the status quo, igniting a revolution within the creative realms. With every stroke of his digital brush, he dares us to question, to rebel, and to forge our own path in this twisted carnival we call life.

      p  Patrick Gunderson, the man, the myth, the mad genius, continues to traverse uncharted territories, leaving a wake of awe and bewilderment in his trail. In the realm of art, design, programming, and directing, he stands tall as a maverick, a torchbearer of unbridled creativity. Brace yourself, my friend, for the journey into Gunderson's world is not for the faint-hearted—it is a wild ride through a kaleidoscope of mind-altering brilliance.
      p -Courtesy, ChatGPT as Hunter S. Thompson

    section.clients.work
      h2 Clients
      h4 &nbsp;
      .clients 
        include ../assets/images/clients/adidas.svg
        include ../assets/images/clients/apple.svg
        include ../assets/images/clients/google.svg
        include ../assets/images/clients/ibm.svg
        include ../assets/images/clients/infiniti.svg
        include ../assets/images/clients/instagram.svg
        include ../assets/images/clients/intel.svg
        include ../assets/images/clients/jfk.svg
        include ../assets/images/clients/land-rover.svg
        include ../assets/images/clients/netflix.svg
        include ../assets/images/clients/nfl.svg
        include ../assets/images/clients/nissan.svg
        include ../assets/images/clients/twitter.svg
        include ../assets/images/clients/youtube.svg
        include ../assets/images/clients/kia.svg
        include ../assets/images/clients/south-park.svg
        include ../assets/images/clients/fox.svg
        include ../assets/images/clients/disney.svg
        include ../assets/images/clients/verizon.svg
        include ../assets/images/clients/kahlua.svg
        include ../assets/images/clients/heineken.svg
        include ../assets/images/clients/cac.svg
        include ../assets/images/clients/no-kid-hungry.svg
    section.recognition 
      a#recognition(name="recognition")
        h2 Recognition
      h4 &nbsp;

      .awards
        .award.emmy
        .award.cannes-lion
        .award.d-and-ad 
        .award.fwa 
        .award.adc
        .award.adobe 
        .award.london-international
        .award.webby 
        .award.one-show 
        .award.mashie 
        .award.sxsw 
        .award.communication-arts 
        .award.clio 
        .award.creativity
        .award.creative-sandbox
        .award.chrome-experiment
        .award.awwward

    
    include _footer

    script 
      include ../js/hero-fade.js