doctype html
html
  include _head
  body.home-page
    .hero
      .bg
        .images
          each project in hero
            img(src=project.cover_image)
      .bg-transition
      
      include _header
      .pull-quote Oscillation is the 
        br
        | key to the universe. 
      .shadow
    section.art.work
      a#art(name="art")
        h3 Art
      h4 Loops
      ul
        each project in loops
          li 
            a.fill(href="/art/"+project.slug, style='background-color:'+project.background_color+';background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
      a(href="/scroll/loop") More Loops

      h4 Generators
      ul
        each project in web
          li 
            a.fill(href="/art/"+project.slug, style='background-color:'+project.background_color+';background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
      a(href="/scroll/web") More Generators
      h4 Physical 
      ul
        each project in physical
          li 
            a.fill(href="/art/"+project.slug, style='background-color:'+project.background_color+';background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
              
      a(href="/scroll/physical") More Physical
      h4 Prints
      ul
        each project in prints
          li 
            a.fill(href="/art/"+project.slug, style='background-color:#111;background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
      a(href="/scroll/print") More Prints
      h4 VR 
      ul
        each project in vr
          li 
            a.fill(href="/art/"+project.slug, style='background-color:'+project.background_color+';background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
    section.music.work
      a#music(name="music")
        h3 Music
      ul 
        li Albums 
        li Soundcloud 
        li Experimental
    section.commercial.work
      a#commercial(name="commercial")
      h3 Commercial
      
      ul
        each project in commercial
          li 
            a.fill(href="/art/"+project.slug, style='background-color:#111;background-image:url("'+project.cover_image+'")') 
              h4 #{project.title}
      //- ul 
      //-   li Google AR I/O
      //-   li Google AR UX
      //-   li US Open Sessions
      //-   li Sense8 Brainwave Symphony
      //-   li Project Hardin
      //-   li Land Rover Stories
      //-   li 30 Years of Mac
      //-   li JFK
      //-   li Gensler
      //-   li Passion Genome
      //-   li The Beauty Inside
      //-   li Infiniti Dream Road
      //-   li SuperBowl.com

    section.clients
      a#clients(name="clients")
      h2 Clients
      ul 
        li Adidas
        li Apple
        li Google
        li IBM
        li Infiniti
        li Instagram
        li Intel
        li JFK Library
        li Netflix
        li NFL
        li Nissan
        li Twitter
        li YouTube
    
    section.clients
      a#recognition(name="recognition")
      h2 Recognition 
      ul 
        li 1x Daytime Emmy
        li 7x Cannes Lions
        li 4x D&AD
        li 15x FWA
        li 3x ACE
        li 1x Webby
        li 4x One Show
        li 1x Mashy
        li 1x SXSW Interactive
        li 3x Comm Arts Interactive
        li 4x Clios
        li 3x Creativity A-list
    
    include _footer

    script 
      include ../js/hero-fade.js