doctype html
html
    include _head
    body
        include _header

        .media
            .hero(style="background-color:"+backround_color)
                iframe.youtube(
                    src="https://www.youtube.com/embed/" + video, 
                    title="YouTube video player", frameborder="0", 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", 
                    allowfullscreen=true)
                
                a.next(href="/" + adjacent.next.section + "/" + adjacent.next.slug)
                    .fa.fa-chevron-right
                a.prev(href="/" + adjacent.prev.section + "/" + adjacent.prev.slug)
                    .fa.fa-chevron-left
            .meta
                .title #{title}
                    span.date #{date}
                    a(href="https://patrickgunderson.com/"+section+"/"+slug).permanent-link
                        .fa.fa-bookmark
                    -if (external_url)
                        a(href=external_url).external-link
                            .fa.fa-codepen
                .medium #{medium} 
                    each role in roles
                        span - #{role}
                .description #{description}
                .producers 
                    h4 Produced by
                    ul
                        each producer in producers
                            li #{producer}
                .awards
        
        
        include _footer
